* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* variables */
  --lr-margin: 2em;
  --bg-dark: #353940;
  --mrg-ends: 5%;
}
body {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 62.5%;
}
/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: #fff;
  box-shadow: 0 0 10px 0;
}
#loader {
  position: absolute;
  top: 45%;
  left: 45%;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border-top: 2px solid blue;
  animation: spin infinite 1s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  width: 100%;
}
.stack {
  background: #27282c;
  padding: 1em 2em;
  color: #fff;
  margin-top: 1.5em;
  font-size: 1.3rem;
  border-radius: 50px;
}
.heading {
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  margin: 1em 0 1em 0;
}

/* Nav section */
nav {
  margin: 1em var(--mrg-ends);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 1.5em;
  }
  .heading {
    font-size: 2rem;
  }
}
nav a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 0.9rem;
}
.nav-mid-links a {
  transition: 1s;
}
.nav-mid-links a:hover {
  background: #8fa852;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
}
.nav-mid-links {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.btn-link {
  background: var(--bg-dark);
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 50px;
}

/* Main section */
.main {
  margin: 0 var(--mrg-ends);
}
.main .top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
  gap: 2em;
}
@media only screen and (max-width: 768px) {
  .main .top-row {
    flex-direction: column;
    gap: 2em;
  }
  .main .top-row .col {
    order: 1;
  }
}
.image-main {
  height: 100%;
  width: 400px;
  object-fit: cover;
}
.top-row legend {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.main-text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  flex: 1;
}
.cool-btn {
  background: var(--bg-dark);
  color: #fff;
  padding: 12px 40px;
  display: inline-block;
  margin-top: 2em;
  font-size: 1.2rem;
}
@media only screen and (max-width: 768px) {
  .image-main {
    width: 100%;
  }
  .top-row legend {
    font-size: 2.5rem;
  }
  .main-text {
    font-size: 1.2rem;
  }
}

/* Service section */
.services {
  margin-top: 2em;
}
.services-list {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.service {
  padding: 2em 1em;
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  border-radius: 4px;
  transition: .5s;
}
.service:hover {
  transform: scale(1.03);
}
.service p {
  margin-top: 1em;
  font-style: italic;
  line-height: 2;
}
@media only screen and (max-width: 768px) {
  .services-list {
    flex-direction: column;
    gap: 2em;
  }
  .service {
    border-radius: 15px;
    padding: 2em;
  }
  .service h3 {
    font-size: 1.3rem;
  }
  .service p {
    font-size: 1rem;
  }
}

/* Project section */
.project-lists {
  margin-top: 3em;
}
.project-lists:after {
  content: "";
  display: table;
  clear: both;
}
.project {
  width: 47.5%;
  margin-left: 1.6%;
  float: left;
  padding: 2em 1.5em;
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  border-radius: 10px;
  margin-bottom: 2em;
}
.project h3 {
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 1.45rem;
  text-align: center;
}
.project img {
  height: 100%;
  object-fit: cover;
  display: inline-block;
  margin-bottom: 2em;
}
.project p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-style: italic;
}
@media only screen and (max-width: 768px) {
  .project {
    width: 100%;
    margin-left: 0;
  }
}
.technologies {
  margin: 2em 0;
}
.technologies li {
  margin-left: 2em;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.4em;
}
.project a {
  text-decoration: none;
  color: #fff;
  display: block;
  border-radius: 10px;
  text-align: center;
  padding: 12px 0;
  background: #27282c;
  margin-top: 1em;
  font-size: 1.2rem;
}

/* Footer */
footer {
  text-align: center;
  margin: 2.5em 0;
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  footer {
    font-size: 1rem;
    margin: 1em 0;
  }
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Feedback Section */
.Containers {
  display: none;
}
.author-img {
  height: 200px;
  object-fit: contain;
  object-position: center;
}
.feedback legend {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 1em 0;
}
.feedback p {
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1em;
}
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.enable, .dots:hover {
  background-color: #717161;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}
@-webkit-keyframes fade {
  from {
    opacity: .5
  }
  to {
    opacity: 2
  }
}